name: MLflow CI Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install mlflow scikit-learn pandas

      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run . -e main
      
      - name: Build and push Docker image
        run: |
          mlflow models build-docker -m MLProject/mlruns --name heart-failure-model
          docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
          docker tag heart-failure-model:latest ${{ secrets.DOCKERHUB_USERNAME }}/heart-failure-model:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/heart-failure-model:latest


      - name: Save model artifact
        run: |
          mkdir -p artifacts
          cp -r MLProject/mlruns artifacts/
          echo "Model artifacts saved successfully."

      - name: Upload artifact to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: artifacts
